# ==============================
# Quarto
# ==============================

.quarto/
_site/

# Arquivos HTML gerados
*.html
*.html.json

# ==============================
# R
# ==============================

.Rhistory
.RData
.Ruserdata
.Rproj.user/

# ==============================
# Sistema operacional
# ==============================

.DS_Store
Thumbs.db

# ==============================
# Arquivos temporários
# ==============================

*.tmp
*.temp
*.log